body {
    max-width: 900px;
    margin: auto;
    padding: 1em;
    /* font-size: 12px;  */
}
h2 { font-size:1.8em; color: #2C2072; margin-top: 36px !important; }
h3 { font-size:1.4em; color: #AF0810; }
h4 { font-size:1.2em; color: #1C6C17; }

pre {
    margin: 2px 3% 10px 3%;
    max-width: 96%;
    white-space: pre-wrap;
}
code {
    font-size: 90%; 
    /* border: 1px solid #944; */
    /* background-color: #FDFDFD; */
    padding: 0px 2px 0px 2px;
    color: #333333;
}
pre.sourceCode { 
    font-size: 90%; 
    line-height: 95%;
    /* background-color: #EEFFEE;  */
}
code.sourceCode {
    /* font-size: 90%;  */
    /* background-color: #EEFFEE;  */
}
code.r {
    /* This actuall overrides the color in the spans with code */
    /* color: #FF3333; */
    /* background-color: #EEFFEE; */
    /* border: 1px solid #AAAADD; */
}
code.quote {
    background-color: #FFEEEE;
    color: #7A0F14;
}
code.quiz {
    background-color: #FFEEEE;
    color: #140F7A;
    margin: 0px;
}
h2 > code { color: #2C2072; }
h3 > code { color: #AF0810; }
h4 > code { color: #1C6C17; }

span.math {
    /* font-size: large; */
}
img {
    padding: 0px;
    border: 0px;
    margin: 0px;
    margin-left: 10%;
    margin-right: 10%;
    /* padding: 5px 0.5em 5px 0.5em; */
    /* border: 1px solid #000000; */
}
